/*variables*/

:root {
  --prim: #111111;
  --seco: #222222;
  --tert: #000000;
  --quar: #FFFAFA;
  
  --seco2: #222222;
  --seco3: #333333;
  --seco4: #444444;
  --seco5: #555555;
  --seco6: #666666;
  
  --test: red;
  
  --font1: "Chicago";
  --font2: "Monaco";
  --text: #A9A9A9;
}

/*desktop*/
@media screen and (min-width: 900px) {
  .content { padding: 80px 10vw 10vh 10vw !important; }
  .dtp {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 20px;
      margin-bottom: 20px;
  }
  .dtc { flex: 1; }
  
  .array { /*for the cards on the tunes page*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
  }
  
  @media screen and (min-width: 900px) {
    .dt { display: block; }
    .mb { display: none; }
  }
}

/*font*/

@font-face {
  font-family: "Monaco";
  src: url("../fonts/Monaco.ttf");
}

@font-face {
  font-family: "Chicago";
  src: url("../fonts/ChicagoFLF.ttf");
}

/*core elements*/
body {
  font-family: var(--font2);
  background-color: var(--tert);
  background-image: radial-gradient(var(--prim) 1px, transparent 0);
  background-size: 5px 5px;
  
  padding: 0;
  margin: 0;
}

a {
  color: var(--quar);
  font-size: 0.9rem;
}

.dt { display: none; }
.mb { display: block; }
  

*, *::before, *::after {
  box-sizing: border-box;
}

/*custom elements*/
.content {
  padding: 80px 25px 25px 25px;
}

p-anel {
  display: block;
}

.window {
  outline: 2px solid var(--seco);
  background-color: var(--seco);
  color: var(--text);
  filter: drop-shadow(8px 8px 0px var(--prim));
  border-radius: 2px;
  
  margin-bottom: 20px;
}

.wbar {
  font-family: var(--font1);
  background-color: var(--prim);
  color: var(--quar);
  padding: 12px;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sbar {
  font-family: var(--font1);
  background-color: var(--seco);
  outline: 2px solid var(--tert);
  filter: drop-shadow(8px 8px 0px var(--prim));
  border-radius: 2px;
  color: var(--text);
  
  padding: 12px;
  font-size: 1.1rem;
  text-align: center;
  
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wcontent {
  padding: 15px;
  font-size: 0.9rem;
}

.banner {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--prim);
}

.bannerlnk {
  width: 100%;
  aspect-ratio: 3 / 1;
  object-fit: cover;
  border-bottom: 2px solid var(--prim);
}

.scrollbox {
  color: var(--quar);
  display: block;
  height: 150px;
  overflow-y: scroll;
  padding: 10px;
  
  outline: 2px solid var(--prim);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: gray;
  outline: 2px solid #111111;
}

::-webkit-scrollbar-thumb {
  background: #111111;
}

.ico {
  padding: 0;
  width: 25px;
  height: 25px;
  outline: 1px solid var(--seco);
  color: var(--seco);
  text-align: center;
  font-weight: bold;
  opacity: 0.3;
  border-radius: 2px;
  
  display: inline-block;
}



.footer {
  font-family: var(--font1);
  background-color: var(--tert);
  color: var(--text);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 10px;
}

.navb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;

  background-color: var(--prim);
  color: var(--quar);
  border-bottom: 2px solid var(--seco);
  font-family: var(--font1);
}

.navb a {
  color: var(--quar) !important;
  text-decoration: none;
}

n-avbar {
  align-items: center;
}

.icon {
  display: inline;
  width: 1rem;
  aspect-ratio: 1 / 1;
  align-items: center;
}
/*i suck at making variants*/
.icon2 {
  display: inline;
  width: 2rem;
  aspect-ratio: 1 / 1;
  align-items: center;
  margin-right: 0.75rem;
}

.badges {
  margin-left: auto;
  margin-right: auto;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  row-gap: 5px;
  max-width: 367px;
}

.player {
  width: 100%;
  aspect-ratio: 3 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../imgs/herabidingmemory.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-bottom: 2px solid var(--seco);
}

#clock {
  white-space: nowrap;
  font-size: 1rem;
}

.dr {
  position: relative;
  display: inline-block;
}

.drb {
  width: 40px;
  font-family: var(--font1);
  padding: 0;
  font-size: 25px;
  background-color: var(--prim);
  color: var(--quar);
  border: none;
}

.drc {
  display: none;
  position: absolute;
  background-color: var(--prim);
  color: var(--seco) !important;
  min-width: 15rem;
  border-radius: 2px;
  font-size: 1rem;
  
  outline: 2px solid var(--seco);
  
  z-index: 5;
  padding: 15px;
}

.dr:hover .drc {display: block;}

/*quick stuff*/

.even {
  display: flex;
  justify-content: space-between;
}

.df {
  display: flex;
  justify-content: center;
  gap: 10px;
}

strong {
  color: var(--quar);
  font-size: 1rem;
  font-family: "Chicago";
  font-weight: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}